<ion-view view-title="Share">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <b> Share this app</b>
            </div>
            <ul class="list">
                <li class="item" id="displayLabel">
                    <div class="item item-text-wrap">
                        <button class="button button-block button-royal item-icon-left" ng-click="whatsappShare()">
                            <i class="icon ion-social-whatsapp"></i> WhatsApp
                        </button>
                    </div>
                </li>
                <li class="item" id="displayLabel">
                    <div class="item item-text-wrap">
                        <button class="button button-block button-royal item-icon-left" ng-click="twitterShare()">
                            <i class="icon ion-social-twitter"></i> twitter
                        </button>
                    </div>
                </li>
                <li class="item" id="displayLabel">
                    <div class="item item-text-wrap">
                        <button class="button button-block button-royal item-icon-left" ng-click="OtherShare()">
                            <i class="icon ion-android-share-alt"></i> Other
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
