<ion-view view-title="{{websiteName}}-最新博文">
    <ion-content class="padding">
        <div class="list card" ng-repeat="p in items">
            <div ng-click="postItem(p.ID)">
                <div class="item item-divider">{{p.title}}</div>
                <div class="item item-body">
                    <div ng-bind-html="p.excerpt"></div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="init.busy" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
